{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}

<h2 class="page-heading">
    Your Shopping Bag
</h2>

{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div>
            <a href="{% url 'products' %}" class="custom-btn-link btn btn-custom mb-3">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Continue Shopping</span>
            </a>
        </div>
        <hr>
        {% if bag_items %}
        <div class="col-12 col-lg-3 float-end mb-5">
            <h5>Order Summary</h5>
            <p class="my-2">{{ bag_items|length }} {% if bag_items|length == 1 %}item{% else %}items{% endif %}</p>
            <p class="my-2">Subtotal: £{{ total|floatformat:2 }}</p>
            <p class="my-2">Delivery: £{{ delivery|floatformat:2 }}</p>
            <p><strong>Total to pay: £{{ grand_total|floatformat:2 }}</strong></p>
            {% if free_delivery_delta > 0 %}
                <p class="mb-2">
                    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
            {% endif %}
            <a href="{% url 'checkout' %}" class="custom-btn-link btn btn-custom mb-3">
                <span>Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
             </a>
        </div>
        <div class="col-12 col-lg-9 mb-5">
            {% for item in bag_items %}
            <div class="row mb-3">
                <div class="col-2">
                    {% if item.product.image %}
                    <img class="img-fluid bag-img" src="{{ item.product.image.url }}">
                    {% else %}
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}no-image.webp" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-3">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0">{{ item.product.author }}</p>
                    <small class="my-0 text-muted">{{ item.product.format_type }}</small>
                    <p><strong>£{{ item.product.price }}</strong></p>
                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                </div>
                <div class="col-4">
                    <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group w-50">
                            <div class="input-group">
                                <input class="form-control rounded-0 qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                            </div>
                        </div>
                    </form>
                    <a class="update-link text-info"><small>Update</small></a>
                </div>
                <div class="col-2 text-end">
                    <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% else %}
        <p class="lead">Your bag is empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}