{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}

<h2 class="page-heading">
    Your Shopping Bag
</h2>

{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div>
            <a href="{% url 'products' %}">
            <button class="btn btn-custom mb-3">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Continue Shopping</span>
            </button>
            </a>
        </div>
        <hr>
        {% if bag_items %}
        <div class="col-12 col-lg-3 float-end mb-5">
            <h5>Order Summary</h5>

            <p class="my-2">*number of items*</p>
            <p class="my-2">Subtotal: £{{ total|floatformat:2 }}</p>
            <p class="my-2">Delivery: £{{ delivery|floatformat:2 }}</p>
            <p><strong>Total to pay: £{{ grand_total|floatformat:2 }}</strong></p>
            {% if free_delivery_delta > 0 %}
                <p class="mb-1">
                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                </p>
            {% endif %}
            <a href="">
                <button class="btn btn-custom mb-3">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
            </a>
        </div>
        <div class="col-12 col-lg-9 mb-5">
            {% for item in bag_items %}
            <div class="row mb-3">
                <div class="col-2">
                    <img class="img-fluid bag-img" src="{{ item.product.image.url }}">
                </div>
                <div class="col-3">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0">{{ item.product.author }}</p>
                    <small class="my-0 text-muted">{{ item.product.format_type }}</small>
                    <p><strong>£{{ item.product.price }}</strong></p>
                </div>
                <div class="col-4 text-end">
                    <p class="my-0">{{ item.quantity }}</p>
                </div>
                <div class="col-2 text-end">
                    <p class="my-0">£{{ item.product.price }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% else %}
        <p class="lead">Your bag is empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}