{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<h2 class="page-heading">
    Welcome to Book Nookery
</h2>
<h3 class="page-heading">
    Your Gateway to a World of Stories!
</h3>

{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center mb-5 fs-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <div class="row">
            <p>
                At Book Nookery, we believe that every book has the power to transport you to new worlds, spark your
                imagination, and inspire change.
            </p>
            <p>
                Whether you're a passionate reader, a casual browser, or looking for the perfect gift,
                our curated selection of books has something for everyone. From timeless classics and bestselling novels
                to the latest releases in fiction, non-fiction, and children's literature, we've got you covered.
            </p>
            <p>
                Explore our collection, discover hidden gems, and immerse yourself in the joy of reading.
                Our easy to navigate website makes it simple to find exactly what you're looking for.
            </p>

            <p>
                Join our community of book lovers today and start your next great adventure with Book Nookery.
            </p>
        </div>
        <div class="row text-center mt-4">
            <div>
                <a href="" class="nav-link d-inline-block mx-auto"><button class="btn btn-custom">Browse
                        Books</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}