{% extends 'base.html' %}
{% load static %}


{% block page_header %}

<h2 class="page-heading">
    Contact Us
</h2>

{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-lg-6">
            <form action="{% url 'contact' %}" method="POST" class="form mb-5">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-end">
                <a href="{% url 'home' %}" class="btn btn-custom">Cancel</a>
                <button class="btn btn-custom" type="submit">Send Message</button>
            </div>
            </form>
        </div>        
    </div>
</div>

{% endblock %}