{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<h2 class="page-heading">
    Product Management
</h2>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h5>Add Product</h5>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <form action="{% url 'add_product' %}" method="POST" class="form mb-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-end">
                        <a href="{% url 'products' %}" class="btn btn-custom">Cancel</a>
                        <button class="btn btn-custom" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}